@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Poppins:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #212021;
}

#navbar {
  width: 99.9%;
  min-height: 60px;
  /* border: 1px solid blue; */
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  -webkit-box-shadow: -14px 18px 17px -15px rgba(0, 0, 0, 0.75);
  box-shadow: -14px 18px 17px -15px rgba(0, 0, 0, 0.75);
}

#logo {
  float: left;
  padding: 10px;
}

.botones-nav {
  display: block;
  float: right;
  list-style: none;
  margin-right: 40px;
  margin-top: 20px;
  font-family: 'Fira Mono', monospace;
}

.botones-nav a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.botones-nav a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #d51323;
}

.botones-nav span {
  color: #d51323;
}

#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aside {
  float: left;
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

#aside .linea-texto {
  position: fixed;
  bottom: 0;
  left: 3em;
}

#aside .texto-vertical {
  font-family: 'Fira Mono', monospace;
  font-size: 12px;
  color: #ccd6f6;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 10px;
  margin-left: -5px;
}

#aside .line-vertical {
  height: 15em;
  width: 1px;
  background-color: #ccd6f6;
}

main {
  margin-top: 60px;
}

section {
  width: 87%;
  float: left;
}

#hero {
  margin-left: 6em;
  margin-top: 18em;
  margin-bottom: 50em;
}

#hero h1 {
  color: #ccd6f6;
  font-size: 90px;
  font-family: 'Poppins', sans-serif;
}

#hero h1 span:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #d51323;
}

#hero p {
  margin-top: 2em;
  color: #ccd6f6;
  opacity: 0.7;
  font-family: 'Fira Mono', monospace;
  font-size: 30px;
}

#cards {
  margin-top: 3em;
}

#cards .card1 {
  width: 300px;
  height: 500px;
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
}

#cards .card1 .card1-image {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(135deg, #d51323, #ff0011);
}

#cards .card1 img {
  width: 300px;
  height: 300px;
  opacity: 0.7;
}

#cards .card1 a {
  text-decoration: none;
}

#cards .card1 .description-card1 {
  height: 200px;
  width: 300px;
  background-color: #151415;
}

#cards .card1 .p-card1 {
  font-family: 'Fira Mono', monospace;
  color: #ccd6f6;
  text-decoration: none;
  margin-left: 10px;
}

#cards .card1 .tech-card1 {
  margin-top: 133px;
  margin-left: 10px;
  font-family: 'Fira Mono', monospace;
  color: #d51323;
}

#cards .card1:hover img {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about-me {
  margin-left: 6em;
  margin-bottom: 15em;
}

#about-me h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: #ccd6f6;
}

#about-me h3 div {
  background-color: #ccd6f6;
  height: 1px;
  width: 30%;
  display: inline-block;
}

#about-me p {
  color: #ccd6f6;
  opacity: 0.7;
  font-family: 'Fira Mono', monospace;
  font-size: 22px;
  width: 60%;
}

#about-me span {
  color: #d51323;
}

#my-projects {
  margin-left: 9em;
  margin-bottom: 15em;
}

#my-projects h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: #ccd6f6;
}

#my-projects span {
  color: #d51323;
}

#skills {
  margin-left: 6em;
  margin-bottom: 10em;
}

#skills h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: #ccd6f6;
}

#skills span {
  color: #d51323;
}

#skills .html-icon {
  width: 150px;
  height: 150px;
}

#skills .css-icon {
  width: 150px;
  height: 150px;
}

#skills .javascript-icon {
  width: 150px;
  height: 150px;
}

#skills .sass-icon {
  width: 150px;
  height: 150px;
}

#skills .bootstrap-icon {
  width: 150px;
  height: 150px;
}

#table-skills1 {
  padding-top: 5em;
}

#table-skills1 p {
  text-align: center;
  font-family: 'Fira Mono', monospace;
  color: #d51323;
  font-size: 25px;
}

#table-skills1 li {
  padding-left: 2em;
  display: inline-block;
}

#table-skills2 p {
  text-align: center;
  font-family: 'Fira Mono', monospace;
  color: #d51323;
  font-size: 25px;
}

#table-skills2 li {
  padding-left: 2em;
  display: inline-block;
}

#contact h3 {
  color: #ccd6f6;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-align: center;
}

#contact h3 span {
  color: #d51323;
}

#contact li {
  list-style: none;
}

#contact a {
  margin-left: 48%;
}

@media only screen and (max-width: 900px) {
  #aside {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */