$color-fondo: #292a37;


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $color-fondo ;
}

#navbar{
    width: 100%;
    min-height: 60px;
    border: 1px solid blue;
}

#logo{
    float: left;
    padding: 10px;
}

.botones-nav{
    float: right;
    list-style: none;
    margin-right: 40px;
    margin-top: 20px;
    
    a {
        text-decoration: none;
        color: white;
    }
}




#aside{
    float: left;
    width: 15%;
    min-height: 1500px;
    border: 1px solid green;
}

section {
    width: 70%;
    float: left;
    border: 1px solid red;
    
}