$color-fondo: #212021;
$color-fuente: #ccd6f6;
$color-secundario: #d51323;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Poppins:wght@400;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $color-fondo ;
}

#navbar{
    width: 99.9%;
    min-height: 60px;
    border: 1px solid blue;
}

#logo{
    float: left;
    padding: 10px;
}

.botones-nav{
    float: right;
    list-style: none;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'Fira Mono', monospace;
    
    a {
        text-decoration: none;
        color: white;
    }

    span{
        color: $color-secundario;
    }
}




#aside{
    float: left;
    width: 12%;
    min-height: 1500px;
    border: 1px solid green;
}

section {
    width: 87%;
    float: left;
    border: 1px solid red;
    
}

#hero {
    margin-left: 6em;
    margin-top: 18em;
    margin-bottom: 50em;
    
    h1{
        color: #ccd6f6;
        font-size: 90px;
        font-family: 'Poppins', sans-serif;


    }

    p{
        margin-top: 2em;
        color: #ccd6f6;
        opacity: 0.7;
        font-family: 'Fira Mono', monospace;
        font-size: 30px;
    }
}

#about-me{
    margin-left: 6em;
    margin-bottom: 15em;

    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: $color-fuente;

        div {
            background-color: $color-fuente;
            height: 1px;
            width: 30%;
            display: inline-block;
        }
    }

    p{
        color: #ccd6f6;
        opacity: 0.7;
        font-family: 'Fira Mono', monospace;
        font-size: 22px;
        width: 60%;
    }
    
    span {
        color: #d51323;
    }
}

#my-projects{
    margin-left: 9em;
    margin-bottom: 15em;

    h3{
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: $color-fuente;
    }

    span {
        color: #d51323;
    }
}


#skills{
    margin-left: 6em;
    margin-bottom: 10em;
    border: 1px solid rgb(215, 91, 8);


    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: $color-fuente;
    }

    span {
        color:#d51323
    }


    .html-icon{
        width: 150px;
        height: 150px;
    }

    .css-icon{
        width: 150px;
        height: 150px;
    }

    .javascript-icon{
        width: 150px;
        height: 150px;
    }

    .sass-icon{
        width: 150px;
        height: 150px;
    }

    .bootstrap-icon{
        width: 150px;
        height: 150px;
    }
}

#table-skills1{
    padding-top: 5em;
    p {
        text-align: center;
        font-family: 'Fira Mono', monospace;
        color: #d51323;
        font-size: 25px;
    }
    
    li {
        padding-left: 2em;
        display: inline-block;
    }
}

#table-skills2{
    
    p {
        text-align: center;
        font-family: 'Fira Mono', monospace;
        color: #d51323;
        font-size: 25px;
    }
    
    li {
        padding-left: 2em;
        display: inline-block;
    }
}

@media only screen and (max-width: 900px) {
    #aside{
        display: none;
    }
  }

