$color-fondo: #212021;
$color-fuente: #ccd6f6;
$color-secundario: #d51323;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Poppins:wght@400;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $color-fondo ;
}

#navbar{
    width: 99.9%;
    /* border: 1px solid blue; */
    overflow: hidden;
    position: fixed;
    height: 60px;
    top: 0;
    z-index: 1;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: -14px 18px 17px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 18px 17px -15px rgba(0,0,0,0.75);
    box-shadow: -14px 18px 17px -15px rgba(0,0,0,0.75);
}

.mostrar{
    display: block;
}

.ocultar{
    display: none;
}



#mobileMenu{
    position: fixed;
    right: 0;
    top: 0;
    background-color: #151415;
    z-index: 999;
    width: 66%;
    height: 100vh;
    padding: 1em;
    animation: menu-load 300ms ease-out;



    #exitMenu{
        height: 60px;
        width: 60px;
        float: right;
        margin: 0.5em;
        cursor: pointer;
    }

    ul{
        margin-top: 5em;

        li{
            list-style: none;
            display: block;
            padding: 0.5em;
            font-size: 1.3em;
            text-align: right;

            a{
                text-decoration: none;
                color: $color-fuente;
                font-family: 'Fira Mono', monospace;
            }

            a:hover {
                transition: 0.2s;
                color: $color-secundario
            }

            span{
                color: $color-secundario;
            }
        }
    }
}


#logo{
    float: left;
    padding: 10px;

    .logo-image{
        width: 50px;
        height: 50px;
    }
}


.botones-nav{
    display: block;
    float: right;
    list-style: none;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'Fira Mono', monospace;
    animation: a-load 300ms ease-out;

    a {
        text-decoration: none;
        color: $color-fuente;
        font-size: 13px;
    }

    a:hover {
        transition: 0.2s;
        color: $color-secundario
    }

    span{
        color: $color-secundario;
    }
}



#hamburguer-menu{

    display: none;
    img {
        width: 40px;
        height: 40px;
    }
}


#flex-container{
    display: flex;
}


#aside{
    float: left;
    width: 12%;
    display: flex;
    flex: 1;
    height: 100%;

    .linea-texto{
        position: fixed;
        bottom: 0;
        left: 3em;
        animation: aside-load 0.8s ease-in-out;
    }

    .texto-vertical {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        margin-bottom: 10px;
        margin-left: -5px;
        
        a {
            font-family: 'Fira Mono', monospace;
            font-size: 12px;
            color: $color-fuente;
        }
    }

    .line-vertical{
        height: 15em;
        width: 1px;
        background-color: $color-fuente;

    }
}

main {
    margin-top: 60px;
}



section {
    width: 87%;
    float: left;
    //border: 1px solid red;
}

#hero {
    margin-left: 6em;
    margin-top: 18em;
    margin-bottom: 35em;


    img{
        width: 75px;
        height: 75px;
        margin-top: 20em;
        margin-left: 35%;
        animation-name: bounce;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
    }


    h1{
        color: #ccd6f6;
        font-size: 90px;
        font-family: 'Poppins', sans-serif;

        span:hover {
            transition: 0.2s;
            color: $color-secundario
        }

    }

    p{
        margin-top: 2em;
        color: #ccd6f6;
        opacity: 0.7;
        font-family: 'Fira Mono', monospace;
        font-size: 30px;
    }
}



#about-me{
    margin-left: 6em;
    margin-bottom: 15em;


    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: $color-fuente;

        .linea-h3 {
            background-color: $color-fuente;
            height: 1px;
            width: 30%;
            display: inline-block;
        }
    }

    p{
        color: #ccd6f6;
        opacity: 0.7;
        font-family: 'Fira Mono', monospace;
        font-size: 22px;
        width: 65%;
        display: inline-block;
    }
    
    span {
        color: #d51323;
    }

    img{
        width: 220px;
        height: 220px;
        margin-left: 4em;
    }
}

#my-projects{
    margin-left: 9em;
    margin-bottom: 15em;

    h3{
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: $color-fuente;

        .linea-h3{
            background-color: $color-fuente;
            height: 1px;
            width: 30%;
            display: inline-block;
        }
    }

    span {
        color: #d51323;
    }

    #cards{

        margin-top: 3em;
        .card1{
            width: 300px;
            height: 500px;
            box-shadow: 0 0 30px rgb(0, 0, 0);
            position: relative;
            transition: transform ease 300ms;
    
            .card1-image{
                width: 300px;
                height: 300px;
                background-image: linear-gradient(
                    135deg,
                    $color-secundario,
                    #ff0011
                );
            }
    
            img {
                width: 300px;
                height: 300px;
                opacity: 0.7;
            }
    
            a{
                text-decoration: none;
            }
    
            
    
            .description-card1{
                height: 200px;
                width: 300px;
                background-color: #151415;
            }
    
            .p-card1{
                font-family: 'Fira Mono', monospace;
                color: $color-fuente;
                text-decoration: none;
                margin-left: 10px;
            }
    
            .tech-card1{
                margin-top: 133px;
                margin-left: 10px;
                font-family: 'Fira Mono', monospace;
                color: $color-secundario;
            }
        }
    
        .card1:hover{
            img{
                opacity: 1;
                transition: 0.3s;
            }
    
            transform: translate(0, -10px);
    
        }
    }
}


#skills{
    margin-left: 6em;
    margin-bottom: 10em;
    margin-top: 20em;
    //border: 1px solid rgb(215, 91, 8);


    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: $color-fuente;

        .linea-h3 {
            background-color: $color-fuente;
            height: 1px;
            width: 30%;
            display: inline-block;
        }
    }

    span {
        color:#d51323
    }


    .html-icon{
        width: 125px;
        height: 125px;
    }

    .css-icon{
        width: 125px;
        height: 125px;
    }

    .javascript-icon{
        width: 125px;
        height: 125px;
    }

    .sass-icon{
        width: 125px;
        height: 125px;
    }

    .bootstrap-icon{
        width: 125px;
        height: 125px;
    }
}

#table-skills1{
    padding-top: 5em;
    p {
        text-align: center;
        font-family: 'Fira Mono', monospace;
        color: #d51323;
        font-size: 20px;
    }
    
    li {
        padding-left: 2em;
        display: inline-block;
    }
}



#table-skills2{
    
    p {
        text-align: center;
        font-family: 'Fira Mono', monospace;
        color: #d51323;
        font-size: 20px;
    }
    
    li {
        padding-left: 2em;
        display: inline-block;
    }
}

#contact{

    margin-top: 15em;
    margin-bottom: 5em;
    h3 {
        color: $color-fuente;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        text-align: center;
    }

    h3 span {
        color: $color-secundario
    }

    li {
        list-style: none;

        p{
            font-family: 'Fira Mono', monospace;
            color: $color-secundario;
            margin-left: 48%;
        }
    }

    a{
        margin-left: 46.5%;

        img {
            width: 120px;
            height: 120px;
        }
    }
}

@media only screen and (max-width: 900px) {
    #aside{
        display: none;
    }

    #hero{
        margin-top: 6em;

        img{
            margin-top: 10em;
        }
    }

    #hamburguer-menu{
        display: block;
    }

    .botones-nav{
        display: none;
    }

    #about-me{
        h3{
            .linea-h3{
                display: none;
            }
        }
    }

    #skills{
        h3{
            .linea-h3{
                display: none;
            }
        }
    }

    #my-projects{
        h3{
            .linea-h3{
                display: none;
            }
        }
    }
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: $color-fondo
  }
  
  ::-webkit-scrollbar-thumb {
    background: $color-fuente;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: $color-secundario;
  }
    

@keyframes a-load{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menu-load{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

html{
    scroll-behavior: smooth;
}

div[id]{
    scroll-margin-top: 70px;
}

/*@keyframes hero-load {
    0%{
        opacity: 0;
        transform: translateY(10%);
    }


    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}*/

@keyframes aside-load {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-100px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}