$color-fondo: #212021;
$color-fuente: #ccd6f6;
$color-secundario: #d51323;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Poppins:wght@400;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $color-fondo ;
}

#navbar{
    width: 99.9%;
    min-height: 60px;
    /* border: 1px solid blue; */
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: -14px 18px 17px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 18px 17px -15px rgba(0,0,0,0.75);
    box-shadow: -14px 18px 17px -15px rgba(0,0,0,0.75);
}

#logo{
    float: left;
    padding: 10px;
}

.botones-nav{
    display: block;
    float: right;
    list-style: none;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'Fira Mono', monospace;
    
    a {
        text-decoration: none;
        color: white;
        font-size: 12px;
    }

    a:hover {
        transition: 0.2s;
        color: $color-secundario
    }

    span{
        color: $color-secundario;
    }
}

#flex-container{
    display: flex;
}


#aside{
    float: left;
    width: 12%;
    display: flex;
    flex: 1;
    height: 100%;

    .linea-texto{
        position: fixed;
        bottom: 0;
        left: 3em;
    }

    .texto-vertical {
        font-family: 'Fira Mono', monospace;
        font-size: 12px;
        color: $color-fuente;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        margin-bottom: 10px;
        margin-left: -5px;
    }

    .line-vertical{
        height: 15em;
        width: 1px;
        background-color: $color-fuente;

    }
}

main {
    margin-top: 60px;
}

section {
    width: 87%;
    float: left;
    //border: 1px solid red;
}

#hero {
    margin-left: 6em;
    margin-top: 18em;
    margin-bottom: 50em;
    
    h1{
        color: #ccd6f6;
        font-size: 90px;
        font-family: 'Poppins', sans-serif;

        span:hover {
            transition: 0.2s;
            color: $color-secundario
        }

    }

    p{
        margin-top: 2em;
        color: #ccd6f6;
        opacity: 0.7;
        font-family: 'Fira Mono', monospace;
        font-size: 30px;
    }
}

#cards{

    margin-top: 3em;
    .card1{
        width: 300px;
        height: 500px;
        box-shadow: 0 0 30px rgb(0, 0, 0);

        .card1-image{
            width: 300px;
            height: 300px;
            background-image: linear-gradient(
                135deg,
                $color-secundario,
                #ff0011
            );
        }

        img {
            width: 300px;
            height: 300px;
            opacity: 0.7;
        }

        a{
            text-decoration: none;
        }

        

        .description-card1{
            height: 200px;
            width: 300px;
            background-color: #151415;
        }

        .p-card1{
            font-family: 'Fira Mono', monospace;
            color: $color-fuente;
            text-decoration: none;
            margin-left: 10px;
        }

        .tech-card1{
            margin-top: 133px;
            margin-left: 10px;
            font-family: 'Fira Mono', monospace;
            color: $color-secundario;
        }
    }

    .card1:hover{
        img{
            opacity: 1;
            transition: 0.3s;
        }
    }
}

#about-me{
    margin-left: 6em;
    margin-bottom: 15em;

    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: $color-fuente;

        div {
            background-color: $color-fuente;
            height: 1px;
            width: 30%;
            display: inline-block;
        }
    }

    p{
        color: #ccd6f6;
        opacity: 0.7;
        font-family: 'Fira Mono', monospace;
        font-size: 22px;
        width: 60%;
    }
    
    span {
        color: #d51323;
    }
}

#my-projects{
    margin-left: 9em;
    margin-bottom: 15em;

    h3{
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: $color-fuente;
    }

    span {
        color: #d51323;
    }
}


#skills{
    margin-left: 6em;
    margin-bottom: 10em;
    //border: 1px solid rgb(215, 91, 8);


    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: $color-fuente;
    }

    span {
        color:#d51323
    }


    .html-icon{
        width: 150px;
        height: 150px;
    }

    .css-icon{
        width: 150px;
        height: 150px;
    }

    .javascript-icon{
        width: 150px;
        height: 150px;
    }

    .sass-icon{
        width: 150px;
        height: 150px;
    }

    .bootstrap-icon{
        width: 150px;
        height: 150px;
    }
}

#table-skills1{
    padding-top: 5em;
    p {
        text-align: center;
        font-family: 'Fira Mono', monospace;
        color: #d51323;
        font-size: 25px;
    }
    
    li {
        padding-left: 2em;
        display: inline-block;
    }
}



#table-skills2{
    
    p {
        text-align: center;
        font-family: 'Fira Mono', monospace;
        color: #d51323;
        font-size: 25px;
    }
    
    li {
        padding-left: 2em;
        display: inline-block;
    }
}

#contact{
    h3 {
        color: $color-fuente;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        text-align: center;
    }

    h3 span {
        color: $color-secundario
    }

    li {
        list-style: none;
    }

    a{
        margin-left: 48%;
    }
}

@media only screen and (max-width: 900px) {
    #aside{
        display: none;
    }
  }

