@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Poppins:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #212021;
}

#navbar {
  width: 99.9%;
  /* border: 1px solid blue; */
  overflow: hidden;
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  -webkit-box-shadow: -14px 18px 17px -15px rgba(0, 0, 0, 0.75);
  box-shadow: -14px 18px 17px -15px rgba(0, 0, 0, 0.75);
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}

#mobileMenu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #151415;
  z-index: 999;
  width: 66%;
  height: 100vh;
  padding: 1em;
  -webkit-animation: menu-load 300ms ease-out;
          animation: menu-load 300ms ease-out;
}

#mobileMenu #exitMenu {
  height: 60px;
  width: 60px;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

#mobileMenu ul {
  margin-top: 5em;
}

#mobileMenu ul li {
  list-style: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

#mobileMenu ul li a {
  text-decoration: none;
  color: #ccd6f6;
  font-family: 'Fira Mono', monospace;
}

#mobileMenu ul li a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #d51323;
}

#mobileMenu ul li span {
  color: #d51323;
}

#logo {
  float: left;
  padding: 10px;
}

#logo .logo-image {
  width: 50px;
  height: 50px;
}

.botones-nav {
  display: block;
  float: right;
  list-style: none;
  margin-right: 40px;
  margin-top: 20px;
  font-family: 'Fira Mono', monospace;
  -webkit-animation: a-load 300ms ease-out;
          animation: a-load 300ms ease-out;
}

.botones-nav a {
  text-decoration: none;
  color: #ccd6f6;
  font-size: 13px;
}

.botones-nav a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #d51323;
}

.botones-nav span {
  color: #d51323;
}

#hamburguer-menu {
  display: none;
}

#hamburguer-menu img {
  width: 40px;
  height: 40px;
}

#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aside {
  float: left;
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

#aside .linea-texto {
  position: fixed;
  bottom: 0;
  left: 3em;
  -webkit-animation: aside-load 0.8s ease-in-out;
          animation: aside-load 0.8s ease-in-out;
}

#aside .texto-vertical {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 10px;
  margin-left: -5px;
}

#aside .texto-vertical a {
  font-family: 'Fira Mono', monospace;
  font-size: 12px;
  color: #ccd6f6;
}

#aside .line-vertical {
  height: 15em;
  width: 1px;
  background-color: #ccd6f6;
}

main {
  margin-top: 60px;
}

section {
  width: 87%;
  float: left;
}

#hero {
  margin-left: 6em;
  margin-top: 18em;
  margin-bottom: 35em;
}

#hero img {
  width: 75px;
  height: 75px;
  margin-top: 20em;
  margin-left: 35%;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#hero h1 {
  color: #ccd6f6;
  font-size: 90px;
  font-family: 'Poppins', sans-serif;
}

#hero h1 span:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #d51323;
}

#hero p {
  margin-top: 2em;
  color: #ccd6f6;
  opacity: 0.7;
  font-family: 'Fira Mono', monospace;
  font-size: 30px;
}

#about-me {
  margin-left: 6em;
  margin-bottom: 15em;
}

#about-me h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: #ccd6f6;
}

#about-me h3 .linea-h3 {
  background-color: #ccd6f6;
  height: 1px;
  width: 30%;
  display: inline-block;
}

#about-me p {
  color: #ccd6f6;
  opacity: 0.7;
  font-family: 'Fira Mono', monospace;
  font-size: 22px;
  width: 65%;
  display: inline-block;
}

#about-me span {
  color: #d51323;
}

#about-me img {
  width: 220px;
  height: 220px;
  margin-left: 4em;
}

#my-projects {
  margin-left: 9em;
  margin-bottom: 15em;
}

#my-projects h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: #ccd6f6;
}

#my-projects h3 .linea-h3 {
  background-color: #ccd6f6;
  height: 1px;
  width: 30%;
  display: inline-block;
}

#my-projects span {
  color: #d51323;
}

#my-projects #cards {
  margin-top: 3em;
}

#my-projects #cards .card1 {
  width: 300px;
  height: 500px;
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
  position: relative;
  -webkit-transition: -webkit-transform ease 300ms;
  transition: -webkit-transform ease 300ms;
  transition: transform ease 300ms;
  transition: transform ease 300ms, -webkit-transform ease 300ms;
}

#my-projects #cards .card1 .card1-image {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(135deg, #d51323, #ff0011);
}

#my-projects #cards .card1 img {
  width: 300px;
  height: 300px;
  opacity: 0.7;
}

#my-projects #cards .card1 a {
  text-decoration: none;
}

#my-projects #cards .card1 .description-card1 {
  height: 200px;
  width: 300px;
  background-color: #151415;
}

#my-projects #cards .card1 .p-card1 {
  font-family: 'Fira Mono', monospace;
  color: #ccd6f6;
  text-decoration: none;
  margin-left: 10px;
}

#my-projects #cards .card1 .tech-card1 {
  margin-top: 133px;
  margin-left: 10px;
  font-family: 'Fira Mono', monospace;
  color: #d51323;
}

#my-projects #cards .card1:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

#my-projects #cards .card1:hover img {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#skills {
  margin-left: 6em;
  margin-bottom: 10em;
  margin-top: 20em;
}

#skills h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: #ccd6f6;
}

#skills h3 .linea-h3 {
  background-color: #ccd6f6;
  height: 1px;
  width: 30%;
  display: inline-block;
}

#skills span {
  color: #d51323;
}

#skills .html-icon {
  width: 125px;
  height: 125px;
}

#skills .css-icon {
  width: 125px;
  height: 125px;
}

#skills .javascript-icon {
  width: 125px;
  height: 125px;
}

#skills .sass-icon {
  width: 125px;
  height: 125px;
}

#skills .bootstrap-icon {
  width: 125px;
  height: 125px;
}

#table-skills1 {
  padding-top: 5em;
}

#table-skills1 p {
  text-align: center;
  font-family: 'Fira Mono', monospace;
  color: #d51323;
  font-size: 20px;
}

#table-skills1 li {
  padding-left: 2em;
  display: inline-block;
}

#table-skills2 p {
  text-align: center;
  font-family: 'Fira Mono', monospace;
  color: #d51323;
  font-size: 20px;
}

#table-skills2 li {
  padding-left: 2em;
  display: inline-block;
}

#contact {
  margin-top: 15em;
  margin-bottom: 5em;
}

#contact h3 {
  color: #ccd6f6;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-align: center;
}

#contact h3 span {
  color: #d51323;
}

#contact li {
  list-style: none;
}

#contact li p {
  font-family: 'Fira Mono', monospace;
  color: #d51323;
  margin-left: 48%;
}

#contact a {
  margin-left: 46.5%;
}

#contact a img {
  width: 120px;
  height: 120px;
}

@media only screen and (max-width: 900px) {
  #aside {
    display: none;
  }
  #hero {
    margin-top: 6em;
  }
  #hero img {
    margin-top: 10em;
  }
  #hamburguer-menu {
    display: block;
  }
  .botones-nav {
    display: none;
  }
  #about-me h3 .linea-h3 {
    display: none;
  }
  #skills h3 .linea-h3 {
    display: none;
  }
  #my-projects h3 .linea-h3 {
    display: none;
  }
}

@-webkit-keyframes a-load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes a-load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes menu-load {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes menu-load {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

html {
  scroll-behavior: smooth;
}

div[id] {
  scroll-margin-top: 70px;
}

/*@keyframes hero-load {
    0%{
        opacity: 0;
        transform: translateY(10%);
    }


    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}*/
@-webkit-keyframes aside-load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes aside-load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */